<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employees Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>

    <div class = "container">
		<div class = "row p-4">
			<h1 class = "text-uppercase text-center display-4"> Employees Management System</h1>
		</div>

		<div class = "row p-3">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<p class = "text-uppercase text-center fs-5"> Create New Employee </p>
				<div class = "card-body">

                    <!-- This form works on the employee object being used as the model.
                    Once submited rhough POST request this form submits the form details to employees route for rendering.
                    Then @PostMapping("/employees") handles this submit models details   
                
                -->

					<form th:action="@{/employees}" th:object = "${employee}" method="POST">
						<div class ="form-group">
							<label> First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Last Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Email </label>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Email" 
							/>
						</div>
						
						<div class = "box-footer mt-2">
							<a th:href = "@{/employees}"
						 class = "btn btn-sm btn-outline-danger"
						 style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
						 Back</a>

							<button type="submit" class = "btn btn-outline-primary btn-sm float-end"
							style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>



</body>

</html>